.containergeneral
{
    display: flex;
    .row
    {
        display: contents;
        .containercolor
        {
            background: red;
            width: 20%;
            height: 560px;
        }
        .containercarrocel
        {
            background: green;
            width: 80%;
            height: 100%;
            height: 560px;

            .containerimg
            {
                background: url("../img/img1.jpeg") no-repeat;
                width: 100%;
                height: 100%;
                background-size: 53%;
                display: block;

            }
        }
    }
}