.containerDrawer
{
    background: green;
    #MuiButton-label {
        width: 100%;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        color: red;
    }
}
