.containergeneral
{
    display: flex;

    .containernabar
    {
        background: #000000;
     .icon-logoempresa
     {
         color :#999;

     }
     #logoempresa
     {
         justify-content: flex-end;
         float: right;
         position: absolute;
         right: 50px;
     }
    }
}